body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	//-webkit-font-smoothing: antialiased;
	//-moz-osx-font-smoothing: grayscale;
	font-variant: tabular-nums;
	line-height: 1.5;
	background-color: #fff;
	font-feature-settings: 'tnum';
}

*,:after, :before {
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}


.App {
	display: flex;
	width: 100vw;
}

.AppNav {
	flex: none;
	width: 21%;
	max-width: 320px;
	min-width: 260px;
	overflow: auto;
	height: 100vh;
}

.AppMain {
	flex: auto;
	position: relative;
	min-height: 500px;
	padding: 0 170px 144px 64px;
	overflow: hidden;
	background: #fff;
}
